






@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  
}
.logo-name{
    font-family: 'Roboto Slab', serif;
}
nav{
  /* background: #0082e6; */
  height: 80px;
  width: 100%;
  z-index: 88888;
}
label.logo{
  line-height: 100px;
  padding: 0 101px;
}
nav ul{
  float: right;
  margin-right: 60px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 2px;
}
nav ul li a{
  color: #f2f2f2;
  font-weight: 500;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
  /* text-transform: uppercase; */
  font-family: 'Poppins', sans-serif;
}
 .nav-items:hover{
  text-decoration: underline #edac10;
  color: #edac10;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

.background{
  background:  rgba(0, 0, 0, 0.5) url(top-slider.jpg);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  object-fit: cover;
}

.wrapper{
    position: absolute;
    top: 65%;
    left: 5%;
    transform: translate(0%,-50%);
    
}
.text-area{
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    letter-spacing: 7px;
}
.text-area span{
    opacity: 1;
    transform: translate(0px, -50px) scale(2);
    animation: animate 4s forwards;
    display: inline-block;
}
.text-area span:nth-of-type(2){
    animation-delay: .2s;
}
.text-area span:nth-of-type(3){
    animation-delay: .3s;
}
.text-area span:nth-of-type(4){
    animation-delay: .4s;
}
.text-area span:nth-of-type(5){
    animation-delay: .5s;
}
.text-area span:nth-of-type(6){
    animation-delay: .7s;
}
.text-area span:nth-of-type(7){
    animation-delay: .8s;
}
.text-area span:nth-of-type(8){
    animation-delay: .9s;
}
.text-area span:nth-of-type(9){
    animation-delay: 1s;
}
@keyframes animate{
    60%{
        transform: translate(0, 20px) rotate(60deg) scale(1)
    }
    100%{
        transform: translate(0) rotate(0deg) scale()
    }
}

.wrapper1{
    position: absolute;
    top: 65%;
    left: 5%;
    transform: translate(-2%,-400%);
    
}
.text-area1{
    font-size: 17px;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    letter-spacing: 2.7px;
}
.text-area1 span{
    opacity: 1;
    transform: translate(0px, -50px) scale(2);
    animation: animate 4s forwards;
    display: inline-block;
}
.text-area1 span:nth-of-type(2){
    animation-delay: .1s;
}
.text-area1 span:nth-of-type(3){
    animation-delay: .2s;
}
.text-area1 span:nth-of-type(4){
    animation-delay: .3s;
}
.text-area1 span:nth-of-type(5){
    animation-delay: .4s;
}
.text-area1 span:nth-of-type(6){
    animation-delay: .5s;
}
.text-area1 span:nth-of-type(7){
    animation-delay: .6s;
}
.text-area1 span:nth-of-type(8){
    animation-delay: .7s;
}
.text-area1 span:nth-of-type(9){
    animation-delay: .8s;
}
.text-area1 span:nth-of-type(10){
    animation-delay: .9s;
}
.text-area1 span:nth-of-type(11){
    animation-delay: 1s;
}
.text-area1 span:nth-of-type(12){
    animation-delay: 1.001s;
}
.text-area1 span:nth-of-type(13){
    animation-delay: 1.002s;
}
.text-area1 span:nth-of-type(14){
    animation-delay: 1.003s;
}
.text-area1 span:nth-of-type(15){
    animation-delay: 1.004s;
}
@keyframes animate{
    60%{
        transform: translate(0, 20px) rotate(60deg) scale(1)
    }
    100%{
        transform: translate(0) rotate(0deg) scale()
    }
}
.btn-buy-now{
    padding: 10px 30px;
    font-size: 16px;
    background-color: #edac10;
    border: 0;
    position: absolute;
    top: 70%;
    left: 3%;
    cursor: pointer;
    text-transform: uppercase;
}



.box-sm{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    margin: 7px 11px;
    margin-top: 4%;
    padding: 25px;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
}
.box-sm-img{
    /* border: 2px solid red; */
    margin-top: 7px;
}
.box-sm-heading{
    margin-left: 25px;
}
.view-more{
    background: transparent;
    border: 0;
    color: #F4B80A;
    font-size: 1rem;
}
.view-more:hover{
    text-decoration: underline #F4B80A;
    cursor: pointer;
}
.box-sm:hover{
background: rgba(0, 0, 0, 1);
}
.box-sm:hover .box-sm-img{
    width: 70px;
}


.main-heading{
    /* border: 2px solid rebeccapurple; */
    margin: 0px 27px;
    margin-top: 10%;
}
.main-heading::after {

    content:'';
    width: 56px;
    color: black;
    position:absolute;
    height:3px;
    left: 27px;
    z-index: 10000;
    background: black;
    margin: 3% 0%;

}
.small-img img{
    border-radius: 50px;
    
}
.Read-More-Button{
    margin-left: 36%;
}
.contact{
margin: 5% 20%;
}
.background-2{
    background:  rgba(0, 0, 0, 0.5) url(background-2.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 80vh; */
    object-fit: cover;
    background-attachment: fixed;
  }

  .main-heading-2{
    /* border: 2px solid rebeccapurple; */
    margin: 0px 27px;
    margin-top: 10%;
}
  .main-heading-2::after {

    content:'';
    width: 56px;
    color: black;
    position:absolute;
    height:3px;
    left: 27px;
    z-index: 10000;
    background: black;
    margin: 3% 0%;

}

/* Footer section */
.Footer{
    background-color: black;
}

.footer-heading{
    color: grey;
    font-size: 16px;
}
.footer-main-heading{
    font-family: 'Roboto Slab', serif;
}
.watermark{
    font-size: 25px;
    margin-bottom: 0px;
}
.hover-footer:hover{
    color: #edac10;
    cursor: pointer;
}

  @media (max-width: 420px){
    .checkbtn{
      display: block;
      margin-right: 20px;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #331712;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      z-index: 9999999;
    }
    nav ul li{
      display: block;
      margin: 30px 0;
      line-height: 35px;
    }
    nav ul li a{
      font-size: 20px;
    }
    .nav-items:hover{
      background: none;
      color:#edac10;
      text-decoration: underline #edac10;
    }
    #check:checked ~ ul{
      left: 0;
    }
    #fas {

        animation-name: name;
        animation-duration: 2s ;
        animation-iteration-count: infinite;
        animation-delay: 1s;
        text-decoration: none;
        /* border: 2px solid yellow; */
        color:#D6D0CE;
        /* position:absolute; */
        font-weight: bold;
        font-size: 30px;
        /* border: 2px yellowgreen solid; */
        /* margin: auto; */
    
        text-align: center;
        z-index: 10000;
        margin-top: 10%;
        
       }
       @keyframes name {

        from { opacity:1;margin-top: 0px ;  transition:all 2s;}
        to{opacity: 0;margin-top: 10px; transition:all 2s;}
       }
    
       .animatedarrow {
           /* border: 2px solid yellow; */
           width: 100vw;
           /* background-color: yellow; */
           z-index: 10000;
           position:absolute;
           bottom: 3%;
           height: 8%;
    
       }
    
       .circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: transparent;
        border: 0px solid grey;
        position: relative;
        /* bottom: 19%; */
        /* margin-bottom: -5%; */
        text-align: center;
        left: 45%;
        margin-top: -1%;
       }
    /* ANIMATED ARROW AT  BOTTOM */
    .sec-M-B{
        display: none;
    }
    .sec-pc-B{
        display: none;
    }
    .About-B{
        display: none;
    }
  }

  @media (min-width:320px){
    label.logo{
        line-height: 80px;
        padding: 0px 26px;
      }
    .text-area1{
        font-size: 13px;
    }
    .text-area{
        font-size: 20px;
    }
}





/* CONTACT FORM CSS */
.background-contact-form{
    background:  rgba(0, 0, 0, 0.1) url(bg-contact-form.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    object-fit: cover;
}
.contact-heading{
 font-family: 'Roboto Slab', serif;
    padding-top: 120px;
    padding-bottom: 50px;
    font-size: 35PX;
}
.contact-form-heading{
    font-family: 'Roboto Slab', serif;
}
.contact-heading::after {

    content:'';
    width: 4px;
    color: #ffb606;
    position:absolute;
    height:47px;
    left: 27px;
    z-index: 10000;
    background: #ffb606;
    /* margin: 1% 0%; */

}
.social-icon { 

    text-align: center; 
    font-size: 25px;
    margin-left: 8%;
   justify-content: space-evenly;
   height: 100%;
   /* border: 2px solid aqua; */
   align-items: center;
   
    
    }
.social-icon i{
        width:50px;
        height: 50px;
        border-radius: 50%;
        padding-top: 1.9%;
        background-color: #3D3C38;
        color: white;
        cursor: pointer;
        font-size: 131%;
} 
.message-heading{
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
}

.About-Card-Heading:hover{
    color: #F4B80A;
    cursor: pointer;
    }
/* Gallery CSS */
#navlink1:hover{
cursor: pointer;
text-decoration: underline #edac10;
}
#navlink2:hover{
cursor: pointer;
text-decoration: underline #edac10;
}
#navlink3:hover{
cursor: pointer;
text-decoration: underline #edac10;
}
#navlink4:hover{
cursor: pointer;
text-decoration: underline #edac10;
}




/*............... Navbar color  change on scroll home page........ */

/* .nav-bar{
    background: transparent !important;
    transition: all 0.5s ease-out;
  }
  .nav-bar.scrolled{
  background:white !important;
  transition: all 0.5s ease-out;
  }
.hamburger{
    color: white !important;
  }
  .hamburger.scrolled{
  color: #000000 !important;
  }
.logo-name{
    color: white !important;
}
.logo-name.scrolled{
    color: black !important;
} */
.nav-bar{
    background: transparent !important;
    transition: all 0.5s ease-out;
}
.nav-bar.scrolled{
    background:white !important;
    transition: all 0.5s ease-out;
    }
.hamburger-landscape{
    color: white !important;
}
.hamburger.scrolled{
    color: black !important;
}
.logo-name{
    color: white !important;
}
.logo-name.scrolled{
    color: black !important;
}



















/* <>...........MEDIA QUERIES FOR PHONE LANDSCAPE MODE...............<> */

@media only screen and (min-width:420px) and (max-width:830px){
    nav ul{
        margin-right: 5px;
        margin-top: 25px;
    }
      nav ul li{
        display: inline-block;
        line-height: 0px;
        margin: 0 2px;
      }
      nav ul li a{
        color: #f2f2f2;
        font-weight: 500;
        font-size: 14px;
        padding: 7px 4px;
        border-radius: 3px;
        /* text-transform: uppercase; */
        font-family: 'Poppins', sans-serif;
      }
      .nav-items:hover{
        background: none;
        color:#edac10;
        text-decoration: underline #edac10;
      }
    .text-area1{
        font-size: 15px;
    }
    .text-area{
        font-size: 25px;
    }
    .wrapper{
        top:110%;
    }
    .wrapper1{
        top: 116%;
        }
    .btn-buy-now{
        padding: 7px 25px;
        font-size: 17px;
        background-color: #edac10;
        border: 0;
        position: absolute;
        top: 110%;
        left: 3%;
        cursor: pointer;
    }

    .background{
        height: 125vh;
    }
    .animatedarrow{
        display: none;
    }
    .background-contact-form{
        height: 80vh;
    }
    .contact-heading{
        font-family: 'Roboto Slab', serif;
        padding-top: 165px;
        padding-bottom: 50px;
        font-size: 35px;
    }
  .nav-items{
    color: white !important;
}
.nav-items.scrolled{
    color: black !important;
}
   .sec-M-B{
        display: none;
    }
    .sec-pc-B{
        display: none;
    }
  .About-B{
        display: none;
    }
    
}

/* <..................For computers & Laptops........................> */

@media (min-width: 831px){
    .logo-name{
        font-size: 30px;
        padding-top: 2px;
    }
    .logo{
        line-height: 10px;
    }
    .background{
        background:  rgba(0, 0, 0, 0.2) url(bg-for-pc.jpg);
        background-blend-mode: darken;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        object-fit: cover;
      }
    .nav-items{
        color: white !important;
    }
    .nav-items.scrolled{
        color: black !important;
    }
       .wrapper{
        top: 56%;    
    }
    .text-area{
        font-size: 50px;
        letter-spacing: 10px;
    }
   
    .wrapper1{
        top: 60%;    
    }
    .text-area1{
        font-size: 30px;
        letter-spacing: 4px;
    }
    .btn-buy-now{
        padding: 10px 30px;
        font-size: 16px;
        background-color: #edac10;
        border: 0;
        position: absolute;
        top:60%;
        left: 4.5%;
        cursor: pointer;
        text-transform: uppercase;
        transition: all 1s ease-in-out ;
    }
    
    
  .home-box{
      display: flex;
      margin-top: -230px;
      margin-left: 3%;
  }
  .box-sm{
      background: rgba(0, 0, 0, 0.6);
  }
  .box-sm-heading {
    margin-left: 25px;
    font-size: 25px;
  }
  .main-heading::after {
    content: '';
    width: 56px;
    color: black;
    position: absolute;
    height: 3px;
    left: 27px;
    z-index: 10000;
    background: black;
    margin: 1% 0%;
  }
  .main-heading-2::after {
    content: '';
    width: 56px;
    color: black;
    position: absolute;
    height: 3px;
    left: 27px;
    z-index: 10000;
    background: black;
    margin: 0% 0%;
}
.animatedarrow{
    display: none;
} 
.contact-heading{
    font-family: 'Roboto Slab', serif;
    padding-top: 205px;
    padding-bottom: 50px;
    font-size: 50px;
}
.contact-heading::after {

    content:'';
    width: 4px;
    color: #ffb606;
    position:absolute;
    height:65px;
    left: 27px;
    z-index: 10000;
    background: #ffb606;
    /* margin: 1% 0%; */

}
.Read-More-Button{
    margin-left: 50%;
}
.gallery-nav-div{
    text-align: center;
}
.f-elements{
    display: flex;
    justify-content: space-evenly;
}
.footer-top-margin{
    margin-top: 48px;
}
.sec-M-A{
    display: none;
}
.sec-pc-A{
    display: none;
}
  .About-A{
    display: none;
}
  .background-contact-form{
    height: 50vh;
  }
.social-icon { 

    text-align: center; 
    font-size: 25px;
    margin-left: 2%;
   justify-content: space-evenly;
   height: 100%;
   /* border: 2px solid aqua; */
   align-items: center;
   
    
    }
.social-icon i{
        width:50px;
        height: 50px;
        border-radius: 50%;
        padding-top: 0.9%;
        background-color: #3D3C38;
        color: white;
        cursor: pointer;
        font-size: 111%;
} 
.s-icons{
    margin-left: 4%;
}

}
